/* src/pages/MainPage/MainPage.css */

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'GmarketSansMedium', sans-serif;
}

.container {
  min-height: 100vh;
  background: white;
  color: black;
}

/* Main Content */
.main-content {
  padding: 32px 16px;
}

/* Introduce Section */
.introduce-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.container-carrossel {
  width: 25%;
  height: 120px;
  perspective: 1000px;
  margin: 0 auto 2rem;
}

.carrossel {
  --rotatey: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateY(var(--rotatey));
  transform-style: preserve-3d;
  cursor: grab;
  user-select: none;
  animation: rotateCarousel 60s linear infinite;
}

.carrossel-item {
  --rotatey: 0;
  --tz: 0px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: opacity 0.5s;
  transform: rotateY(var(--rotatey)) translateZ(var(--tz));
}

.carrossel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrossel-item:hover {
  opacity: 1;
}

@keyframes rotateCarousel {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Card Section */
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 32px;
}

.card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}

.card-header h3 {
  text-transform: capitalize;
}

.card-list li {
  font-size: 14px;
  margin: 4px 0;
}

/* Bottom Boxes */
.bottom-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.box {
  height: 128px;
  border-radius: 16px;
}

.box-left,
.box-right {
  background-color: #c5e1a5;
}

.box-center {
  background-color: #aed581;
}

/* 반응형 */
@media screen and (min-width: 576px) {
  .container-carrossel {
    --widthItem: 250px;
    --heightItem: 200px;
  }
}
